<?php

/*
 * Configuration for fabpot/php-cs-fixer
 *
 * @link https://github.com/FriendsOfPHP/PHP-CS-Fixer
 */

$finder = PhpCsFixer\Finder::create()
    ->in('src')
    ->in('tests')
;
return PhpCsFixer\Config::create()
    ->setRules([
         '@Symfony' => true,
         'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder);
